Django==1.5.1
DjangoUeditor==1.8.143
Pillow==2.6.0
PyYAML==3.11
Wand==0.3.8
django-rq==0.7.0
gevent==1.0.1
greenlet==0.4.4
gunicorn==19.1.1
html2text==2014.9.25
lxml==3.3.4
psycopg2==2.5.4
raven==5.0.0
redis==2.10.3
requests==2.4.3
rq==0.4.6
wsgiref==0.1.2
