{% extends 'master/base.html' %}

{% block htmlhead %}
    {% load html_tools %}
    {{ form.media }}
{% endblock %}

{% block content %}

	{% for article in page %}
	<div>
        文章id
		{{ article.pk }}

        标题
		{{ article.title }}

        文章分类
        {% if article.category %}
		    {{ article.category }}
        {% else %}
            未分类
        {% endif %}

        点击次数
		{{ article.click_count }}

        小编
		{{ article.editor.username }}

        创建日期
		{{ article.create_date | date:"Y年n月d日" }}

        修改日期
		{{ article.modify_date | date:"Y年n月d日" }}

        创建人ip
		{{ article.create_ip }}

		<a href="{% url 'articles:del_article' %}?id={{ article.pk }}">
			{% if article.deleted %} 
                恢复
			{% else %} 
                删除
			{% endif %}
		</a>

		<a href="{% url 'articles:set_important' %}?id={{ article.pk }}">
			{% if article.important %} 
                从首页焦点下架
			{% else %} 
                放上首页焦点
			{% endif %}
		</a>

		<a href="{% url 'articles:publish' %}?id={{ article.pk }}">
			{% if article.publish %} 
                解除发布
			{% else %} 
                发布文章
			{% endif %}
			</a>

		<a href="{% url 'articles:modify' %}?id={{ article.pk }}">编辑</a>

	</div>
	{% endfor %}
	<div>----------------</div>

    {% include 'utils/paginator.html' with page=page %}

{% endblock %}
