{% extends 'base.html' %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'minivideo/minivideo.css' | as_css }}
{% endblock %}

{% block content %}
<div class="central">
       
    <div class="video_index">
        <h2>青春的轨迹——在深大的日子
            <span>
                <a href="{% url 'minivideo:signup' %}">我要报名</a>
                <a href="{% url 'minivideo:resource_list' %}">已报名列表</a>
            </span>
        </h2>
        <div style="margin-top:25px;">
            <a href="http://stu.szu.edu.cn/articles/56/">
                <img src="/static/images/banner.jpg" width="100%" height="240" alt="微视频宣传" />
            </a>
        </div>
    </div>
    
</div><!--end of central-->
{% endblock %}
